<div class="wrapper--footer section  fade-in-section">
  <footer>
    <div class="footer--main container">
      <div class="footer--logo">
        <div class="footer--logo--main">
          <a href="#" routerLink="">
            <img src="assets/images/logo.png" alt="SkillHunter logo">
          </a>
          SkillHunter
        </div>
        <div class="footer--privacy">
          <p>© 2024, SkillHunter</p>
          <p>Privacy Policy</p>
        </div>
      </div>
      <div class="footer--action">
        <p>Request a callback and speak with an expert</p>
        <button>Write to the manager</button>
      </div>
    </div>
  </footer>
</div>
