<div class="wrapper--header">
  <header>
    <div class="header--main container">
      <div class="header--logo">
        <div class="header--title">
          <a href="#" routerLink="">
            <img src="assets/images/logo.png" alt="SkillHunter logo">
          </a>
          SkillHunter
        </div>
        <div class="header--nav" [class.active]="menuOpen">
          <nav>
            <ul>
              <li><a href="#cases" (click)="closeMenu()">CASES</a></li>
              <li><a href="#tools" (click)="closeMenu()">TOOLS</a></li>
              <li><a href="#about" (click)="closeMenu()">ABOUT THE AGENCY</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header--action">
        <p>Request a callback and speak with an expert</p>
        <button (click)="openModal()">
          Write to the manager
        </button>
      </div>
      <div class="burger-menu" (click)="toggleMenu()" [class.open]="menuOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  <app-modalpopup *ngIf="isModalOpen" (closeModal)="closeModal()"></app-modalpopup>
</div>
