<div class="wrapper--home">
  <app-header></app-header>
  <section>
    <div class="gallery-modal" *ngIf="showGallery" (click)="closeGallery($event)">
      <div class="gallery-modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeGallery()">&times;</span>
        <div class="gallery-navigation">
          <button class="nav-button prev" (click)="prevImage()">&#10094;</button>
          <div class="gallery-images">
            <img [src]="currentImage" alt="Gallery Image" class="gallery-image">
          </div>
          <button class="nav-button next" (click)="nextImage()">&#10095;</button>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper--standards--section fade-in-section">
    <div class="wrapper--standards">
      <div class="standards--block--main container">
        <div class="standards--block--info">
          <div class="standards--block--info--title">
            We create the best talent according to global standards
          </div>
          <div class="standards--block--info--subtitile">
            We successfully close the most challenging digital vacancies. We are trusted by companies with
            expert and non-standard projects because of our results.
          </div>
          <div class="standards--block--info--description">
            <img src="assets/images/people.png" alt="">
            <img src="assets/images/rating.png" alt="">
          </div>
        </div>
        <div class="standards--block--img">
          <img src="assets/images/header1.png" alt="">
          <img src="assets/images/header2.png" alt="">
          <img src="assets/images/header3.png" alt="">
          <img src="assets/images/header4.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper--system--section fade-in-section">
    <div class="system--section container">
      <div class="system--info">
        <div class="system--title">
          RECRUITMENT SYSTEM
        </div>
        <div class="system--description--main">
          <div class="system--description phce card card-1">
            <div class="content">
              Attracting qualified candidates
            </div>
          </div>
          <div class="system--description phce card card-2">
            <div class="content">
              Training of candidates
            </div>
          </div>
          <div class="system--description phce card card-3">
            <div class="content">
              Integration into the employer's corporate system
            </div>
          </div>
          <div class="system--description phce card card-4">
            <div class="content">
              Formation of corporate culture
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--strategy--section fade-in-section">
    <div class="strategy--section container">
      <div class="strategy--info">
        <div class="strategy--info--leftSide">
          <div class="strategy--info--leftSide--title">
            RECRUITMENT AND ADAPTATION STRATEGY
          </div>
          <div class="strategy--info--leftSide--subtitle">
            <p>- A comprehensive HR strategy from HR and business analytics specialists. </p>
            <p>- Solving recruitment and corporate culture problems with the help of SMM tools. </p>
            <p>- Streamlined process of recruitment and adaptation of personnel.</p>
            <p>- More than 75,000 best digital specialists in our database.</p>
            <p>- Candidates are trained according to the world's best personnel training systems and have practical, highly qualified experience.</p>
          </div>
        </div>
        <div class="strategy--info--rightSide">
          <img src="assets/images/hrsection2.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper--tranding--section  fade-in-section">
    <div class="wrapper--tranding container">
      <div class="tranding--info">
        <div class="tranding--info--title">
          PERSONNEL TRANDING SYSTEM
        </div>
        <div class="tranding--info--card--main">

          <div class="tranding--info--card">
            <div class="trandind--info--card--title">
              QUALIFICATION
            </div>
            <div class="tranding--info--card--subtitle">
              Candidates are trained according to the best global training systems, such as the outbuilding
              system, where 90% of the training time is allocated to practice and 10% to theory, as well as
              similar systems.
            </div>
            <div class="tranding--info--card--action">
              <button>
                I'm interested
              </button>
            </div>
          </div>
          <div class="tranding--info--card">
            <div class="trandind--info--card--title">
              TRANDING
            </div>
            <div class="tranding--info--card--subtitle">
              Qualified employees are trained according to the corporate system of the business partner, which
              significantly increases the production efficiency of future employees.
            </div>
            <div class="tranding--info--card--action">
              <button>
                I'm interested
              </button>
            </div>
          </div>
          <div class="tranding--info--card">
            <div class="trandind--info--card--title">
              EMPLOYMENT
            </div>
            <div class="tranding--info--card--subtitle">
              We hire qualified and well-trained specialists, guaranteeing their high professional suitability and
              efficiency.
            </div>
            <div class="tranding--info--card--action">
              <button>
                I'm interested
              </button>
            </div>
          </div>
          <div class="tranding--info--card">
            <div class="trandind--info--card--title">
              SUPPORT
            </div>
            <div class="tranding--info--card--subtitle">
              We support new employees for six months after they join the company, enhancing their skills
              and professional value.
            </div>
            <div class="tranding--info--card--action">
              <button>
                I'm interested
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper--parallax--section ">
    <div class="wrapper--parallax ">
      <div class="parallax">
      </div>
    </div>
  </section>

  <section class="wrapper--info--text--section fade-in-section">
    <div class="wrapper--circle--background"></div>
    <div class="wrapper--info--text container">
      <div class="info--text--main">
        <div class="info--title">
          Expert evaluation of the effectiveness of training systems.
        </div>
        <div class="info--title">
          Systems for managing the growth of employee qualifications.
        </div>
        <div class="info--title">
          The best systems of training and support of personnel.
        </div>
        <div class="info--title">
          Recruitment and talent identification systems.
        </div>
        <div class="info--title">
          Development of mechanisms for effective systematic management of business process
          performance.
        </div>
        <div class="info--title">
          Systems for planning the development and retraining of the company's human resources.
        </div>
      </div>
    </div>
  </section>

  <section id="cases" class="wrapper--cases--section">
    <div class="wrapper--cases container">
      <div class="cases--img--block--main">
        <div class="cases--img--block--1">
          <div class="wrapper--circle--background"></div>
          <div class="cases--img fade-in-section">
            <img src="assets/images/phone1.png" (click)="openGallery(['assets/images/phone1.png', 'assets/images/phone2.png', 'assets/images/phone3.png','assets/images/phone4.png', 'assets/images/phone5.png', 'assets/images/phone6.png'])" alt="">
            <img src="assets/images/phone2.png" (click)="openGallery(['assets/images/phone2.png', 'assets/images/phone3.png', 'assets/images/phone4.png' , 'assets/images/phone5.png', 'assets/images/phone6.png', 'assets/images/phone1.png'])" alt="">
            <img src="assets/images/phone3.png" (click)="openGallery(['assets/images/phone3.png', 'assets/images/phone4.png', 'assets/images/phone5.png', 'assets/images/phone6.png', 'assets/images/phone1.png', 'assets/images/phone2.png'])" alt="">

          </div>
          <div class="cases--text">
            <div class="cases--text--title">
              SMM
            </div>
            <div class="cases--text--subtitle">
              CASES
            </div>
            <div class="cases--text--description">
              Business positioning system in social networks.
            </div>
          </div>
        </div>
        <div class="cases--img--block--2">

          <div class="cases--text">
            <div class="cases--text--title">
              SMM
            </div>
            <div class="cases--text--subtitle">
              CASES
            </div>
            <div class="cases--text--description">
              Business positioning system in social networks.
            </div>
          </div>
          <div class="wrapper--circle--background"></div>
          <div class="cases--img section fade-in-section">
            <img src="assets/images/phone4.png" (click)="openGallery(['assets/images/phone4.png', 'assets/images/phone5.png', 'assets/images/phone6.png' , 'assets/images/phone1.png', 'assets/images/phone2.png', 'assets/images/phone3.png'])" alt="">
            <img src="assets/images/phone5.png" (click)="openGallery(['assets/images/phone5.png', 'assets/images/phone6.png', 'assets/images/phone1.png', 'assets/images/phone2.png', 'assets/images/phone3.png', 'assets/images/phone4.png'])" alt="">
            <img src="assets/images/phone6.png" (click)="openGallery(['assets/images/phone6.png', 'assets/images/phone1.png', 'assets/images/phone2.png', 'assets/images/phone3.png', 'assets/images/phone4.png', 'assets/images/phone5.png'])" alt="">

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tools" class="wrapper--selection--section fade-in-section">

    <div class="wrapper--selection container">
      <div class="selection--info">
        <div class="selection--info--leftSide">
          <div class="selection--info--leftSide--title">
            CASE
          </div>
          <div class="selection--info--leftSide--subtitle">
            Selection of IT specialists
          </div>
          <div class="selection--info--leftSide--description">
            Objective: Select and train promising IT engineers
          </div>
        </div>
        <div class="selection--info--rightSide">
          <div class="selection--info--rightSide--title">
            TOOLS:
          </div>
          <div class="selection--info--rightSide--description">
            <p>- IT specialists' qualification assessment system;</p>
            <p>- Personnel reserve selection system;</p>
            <p>- Candidate training system;</p>
            <p>- New employee support system.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--selection--second--section fade-in-section">
    <div class="wrapper--circle--background"></div>
    <div class="wrapper--selection--second container">
      <div class="selection--second--info">
        <div class="selection--second--info--card--main">
          <div class="selection--second--info--card">
            <div class="selection--second--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--second--info--card--text">
              <div class="selection--second--info--card--text--title">
                2630
              </div>
              <div class="selection--second--info--card--text--subtitle">
                Resumes received
              </div>
            </div>
          </div>

          <div class="selection--second--info--card">
            <div class="selection--second--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--second--info--card--text">
              <div class="selection--second--info--card--text--title">
                1106
              </div>
              <div class="selection--second--info--card--text--subtitle">
                Resumes selected
              </div>
            </div>
          </div>

          <div class="selection--second--info--card">
            <div class="selection--second--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--second--info--card--text">
              <div class="selection--second--info--card--text--title">
                700+
              </div>
              <div class="selection--second--info--card--text--subtitle">
                Interviews conducted
              </div>
            </div>
          </div>

          <div class="selection--second--info--card">
            <div class="selection--second--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--second--info--card--text">
              <div class="selection--second--info--card--text--title">
                372
              </div>
              <div class="selection--second--info--card--text--subtitle">
                IT engineers hired
              </div>
            </div>
          </div>
        </div>
        <div class="selection--second--info--img">
          <img src="assets/images/back1.png" alt="">
          <img src="assets/images/back2.png" alt="">
          <img src="assets/images/back3.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--selection--section fade-in-section">
    <div class="wrapper--selection container">
      <div class="selection--info">
        <div class="selection--info--leftSide">
          <div class="selection--info--leftSide--title">
            CASE
          </div>
          <div class="selection--info--leftSide--subtitle">
            Selection of Digital Marketers
          </div>
        </div>
        <div class="selection--info--rightSide">
          <div class="selection--info--rightSide--title">
            TOOLS:
          </div>
          <div class="selection--info--rightSide--description">
            <p>- Creating an HR Funnel;</p>
            <p>- Expert assessment of soft skills;</p>
            <p>- Analysis of compliance with business requirements;</p>
            <p>- Selection of relevant candidates.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--selection--third--section fade-in-section">
    <div class="wrapper--selection--third container">
      <div class="wrapper--circle--background"></div>
      <div class="selection--third--info">
        <div class="selection--third--info--card--main">
          <div class="selection--third--info--card">
            <div class="selection--third--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--third--info--card--text">
              <div class="selection--third--info--card--text--title">
                5700+
              </div>
              <div class="selection--third--info--card--text--subtitle">
                Responses to the vacancy
              </div>
            </div>
          </div>

          <div class="selection--third--info--card">
            <div class="selection--third--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--third--info--card--text">
              <div class="selection--third--info--card--text--title">
                1800+
              </div>
              <div class="selection--third--info--card--text--subtitle">
                Relevant candidates
              </div>
            </div>
          </div>

          <div class="selection--third--info--card">
            <div class="selection--third--info--card--img">
              <img src="assets/images/bar_chart.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/add_circle.png" alt="">
            </div>
            <div class="selection--third--info--card--text">
              <div class="selection--third--info--card--text--title">
                650+
              </div>
              <div class="selection--third--info--card--text--subtitle">
                candidates selected
              </div>
            </div>
          </div>
        </div>
        <div class="selection--third--info--img">
          <img src="assets/images/back4.png" alt="">
          <img src="assets/images/back5.png" alt="">
          <img src="assets/images/back6.png" alt="">
          <img src="assets/images/back7.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="wrapper--timeTested--section fade-in-section">
    <div class="wrapper--circle--background"></div>
    <div class="wrapper--timeTested container">
      <div class="timeTested--info">
        <div class="timeTested--info--text">
          <div class="timeTested--info--text--title">
            Time-tested experience
          </div>
          <div class="timeTested--info--text--title">
            Community of experts
          </div>
          <div class="timeTested--info--text--title">
            Effective work with personnel
          </div>
          <div class="timeTested--info--text--title">
            Agency on the international market
          </div>
        </div>
        <div class="timeTested--info--img">
          <img src="assets/images/circle1.png" alt="Circle 1">
          <img src="assets/images/circle2.png" alt="Circle 2">
          <img src="assets/images/circle3.png" alt="Circle 3">
          <img src="assets/images/arrow1.png" alt="Arrow 1">
          <img src="assets/images/arrow2.png" alt="Arrow 2">
        </div>
      </div>
    </div>
  </section>
  <app-profile-cardsfooter></app-profile-cardsfooter>
  <app-footer></app-footer>
</div>
