<section class="wrapper--profileCardsFooter--section">
  <div class="wrapper--profileCardsFooter">
    <div class="profile-cards-container">
      <div class="card-row">
        <img src="assets/images/footerclip1.png" alt="">
        <img src="assets/images/footerclip1.png" alt="">
        <img src="assets/images/footerclip1.png" alt="">
        <img src="assets/images/footerclip1.png" alt="">
      </div>
      <div class="card-row">
        <img src="assets/images/footerclip2.png" alt="">
        <img src="assets/images/footerclip2.png" alt="">
        <img src="assets/images/footerclip2.png" alt="">
        <img src="assets/images/footerclip2.png" alt="">
      </div>
    </div>
  </div>
</section>
